
body {
   
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

.sqlserver {
    width: 35%;
}

.list {
    list-style: none;
}
.sqlimg {
    width: 87%;
}
.transparent {
    color: rgba(255, 228, 196, 0);
}
.quotesize {
    font-size: 0.85rem;
}
